body {
  font-family: $fixed-font-family;
  font-size: $base-font-size;
  color: $text-color;
}

li {
  list-style: none;
  display: inline-block;
}

a {
  color: $text-color;
  text-decoration: none;
}

a:focus, a:hover {
  color: $main-color
}

h1 {
  font-weight: $bold;
  font-size: 1.5em;
}

ul {
  padding: 0;
}

.fluid-container {
  margin: 0 auto;
  width: 80%;
}


// PARTIALS
@import "slider";
@import "header";
